body {  font-family: 'Roboto', sans-serif; height: 100%; }
* {font-family: 'Open Sans', sans-serif; }
a, a:hover, a:focus { text-decoration: none; }
a, a:hover, a:focus { color: #aa2200; }

hr {color: #000; }
.nopadding {padding: 0px;}

.header { height: 65px; width: 100%; background-color: #eee; padding: 10px 0px; border-bottom: 1px solid #e2e2e2; }
.sidebar { height: 100vh;  background-color: #eee; font-size:0.85em; } 

.sidebar ul { list-style-type: none; padding:0px; margin:0px;  }
.sidebar ul li { border-top: 1px solid #eee;  }
.sidebar ul li a,strong { font-size: 1em; display:block; padding: 10px 20px; }
.sidebar ul li a:hover { background: #fff;}

/*.sidebar {  border-right: 1px solid #e2e2e2; }*/
.job { background-color: #eee; overflow:hidden; position:relative; }
.job .cover {transition: all 0.3s ease; }
.job:hover .cover { transform: scale(1.05); }
.job .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.job .title { position: relative; top: 50%; transform: translateY(-50%); text-align: center; }
.job .title h1 { font-size: 1.8em; padding: 0px; margin: 0px; color: #fff; }

.job:hover .apps { bottom: 0px;}
.job .apps { transition: all 0.3s ease; padding: 15px; position: absolute; bottom: -64px; width:100%; height: 64px; }
.job .apps a { padding: 0px 5px;}
.job .apps img { transition: all 0.1s ease; }
.job .apps img:hover { transform: scale(1.2); }

.job:hover .icons { top: 0px; }
.job .icons { transition: all 0.3s ease; padding: 5px; position: absolute; top: -64px; width:100%; height: 64px; text-align: right;}
.job .icons a { padding: 0px 5px;}
.job .icons img { transition: all 0.1s ease; }
.job .icons img:hover { transform: scale(1.2); }
