{% load static %}

<img class="item-cover" src="{% if asset.hasCover %} /image/{{asset.cover}} {% else %} {% static '/img/default-cover.jpg' %} {% endif %}" />

<div class="overlay" style='opacity:1'>
  <div class="item-title">
    <a href='/assets/?job={{job.path}}&path={{asset.path}}'><h1>{{ asset.name }}</h1></a>
  </div> <!-- item-title -->
  <div class="item-apps row">
  <!-- APPS -->
  <div class="col">

    <!-- Show Children Icon -->
    {% if asset.hasChildren and not asset.showbackbtn %}
      <a href="/assets/?job={{ job.path }}&path={{asset.path}}">
        <i class="bi bi-boxes" style="font-size: 1.5rem;"></i>
      </a>
    {% endif %}

    <!-- Show backkspace icon -->
    {% if asset.hasParent or asset.showbackbtn %}
      <a href="/assets/?job={{ job.path }}&path={{asset.parent}}">
        <i class="bi bi-backspace" style="font-size: 1.5rem;"></i>
      </a>
    {% endif %}
    <!--
      <a href="#" >
        <i class="bi bi-boxes" style="font-size: 1.5rem;"></i>
      </a>
    -->
  </div>
  <div class="col-3">

    {% if asset.hasVersion %}
    <div class="dropup" style="display:inline">
      <button class="btn btn btn-dark dropdown-toggle version" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-path="{{ asset.path }}" data-job="{{ job.path }}">
        <span> {{ asset.versionAsString }} </span>
      </button>
      <div class="dropdown-menu versions" aria-labelledby="dropdownMenuButton">
        {% for version, versionAsString in asset.versions %}
          <a class="dropdown-item" href="/assets/?job={{ job.path }}&path={{asset.path}}&version={{ version }}"> {{ versionAsString }} </a>
         {% endfor %}
       </div>
    </div>
    {% endif %}
  </div>

  </div> <!-- item-apps-->
</div> <!-- overlay -->
