{% extends "base.html" %}
{% load static %}


{% block sidebar %}

<ul>
    <li class="border-bottom"><strong>Jobs</strong></li>
    <li><a href="#" class="action" data-action="job_create" data-reload="1"><i class="bi bi-plus-circle"></i></i> Create</a></li>
    <li><a href="#" class="action" data-action="job_add" data-reload="1"><i class="bi bi-bookmark-plus"></i> Add</a></li>
    <!--
    <li class="border-bottom"><strong>Jobs</strong></li>
    {% for job in job_list %}
        <li class="nav-item">
            <a class="" href="">{{ job.name }}</a>
        </li>
    {% endfor %}
    -->
</ul>    
{% endblock sidebar%}

{% block content %}
    {% csrf_token %}
    <section class="">
    <div class="container">
        {% for job in job_list %}
            {% if forloop.first %}<div class="row">{% endif %}

            <div class="col-lg-4 nopadding">
                <div class="job">
                    <img class="cover img-fluid" src="{% if job.hasCover %} /image/{{job.cover}} {% else %} {% static '/img/default-cover.jpg' %} {% endif %} " />
                    <div class="overlay">
                        <div class="title">
                            <a href="#"><h1>{{ job.pretty }}</h1></a>
                        </div>
                        <div class="apps">
							<!-- Explore -->
							<a href="#" class="app" data-path="{{ job.path }}" data-app="explore" title="explore" data-toogle="tooltip">
								<img src="{% static "img/explore-icon.png" %}" width="32" height="32" />
							</a>
							<!-- HOUDINI -->
							<a href="#" class="app" data-path="{{ job.path }}" data-app="houdini" title="houdini" data-toggle="tooltip">
								<img src="{% static "img/houdini_icon.png" %}" width="32" height="32" />
							</a>
							<!-- MAYA -->
							<a href="#" class="app" data-path="{{ job.path }}" data-app="maya" title="maya" data-toggle="tooltip">
								<img src="{% static "img/maya_icon.png" %}" width="32" height="32" />   
                            </a>                         
                        </div>
                        <div class="icons">
                            <a href="#" class="action" data-action="job_remove" data-path="{{job.path}}" data-reload="1"><i class="bi bi-eye-slash-fill"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>

    </section>
{% endblock content %}